In [1]:
import gzip
import json
import pandas as pd
from textblob import TextBlob
from pandas import json_normalize

---------

STEAM GAMES

In [2]:
#esto permite ver el archivo

#with gzip.open('C:/Users/micai/OneDrive/Escritorio/PI_ML_STEAM/datasets/steam_games.json.gz','rt', encoding='utf-8-sig') as f:
    #cont_steam_games = f.read()

In [3]:
#imprime el archivo y con esto lo podemos ver en el editor de texto del visual

#print(cont_steam_games)

In [4]:
#función que lee el archivo json para luego convertirlo en un dataframe
def steam_games():
    df_1 = []
    with gzip.open("C:/Users/micai/OneDrive/Escritorio/PI_ML_STEAM/datasets/steam_games.json.gz", "rt", encoding="utf-8") as file:
        for linea in file:
            try:
                objeto_json = json.loads(linea)
                df_1.append(objeto_json)
            except json.JSONDecodeError as err:   
                pass
    return df_1

df_steam_games = pd.DataFrame(steam_games())
#df_steam_games

In [5]:
#muestra la información del dataframe
df_steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

In [6]:
#da información de las columnas no numéricas (datos categoricos o de tipo objeto). Sirve para ver el predominio de ciertos valores
#count -- indica el n° de elementos no nulos en la columna
#unique -- representa la cantidad de valores únicos en la columna
#top -- muestra el valor más frecuente de la columna
#freq -- indica la frecuencia del valor más común/top en la columna
df_steam_games.describe()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
count,24083,28852,32133,30085,32135,30068,31972,32133,31465,30758.00,32135,32133,28836
unique,8239,883,32094,30054,32135,3582,15395,32132,4649,162.00,2,32132,10992
top,Ubisoft,[Action],Soundtrack,Soundtrack,http://store.steampowered.com/app/761140/Lost_...,2012-10-16,"[Casual, Simulation]",http://steamcommunity.com/app/612880/reviews/?...,[Single-player],4.99,False,612880,Ubisoft - San Francisco
freq,385,1880,3,3,1,100,1292,2,2794,4278.00,30188,2,1259

In [7]:
#ve los nulos y los suma
df_steam_games.isnull().sum()

publisher       96362
genres          91593
app_name        88312
title           90360
url             88310
release_date    90377
tags            88473
reviews_url     88312
specs           88980
price           89687
early_access    88310
id              88312
developer       91609
dtype: int64

In [8]:
#elimina los nulos
df_steam_games = df_steam_games.dropna()
df_steam_games

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域
88315,Trickjump Games Ltd,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"[Action, Adventure, Simulation, FPS, Shooter, ...",http://steamcommunity.com/app/772540/reviews/?...,"[Single-player, Steam Achievements]",3.99,False,772540,Trickjump Games Ltd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120439,Bidoniera Games,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,http://store.steampowered.com/app/745400/Kebab...,2018-01-04,"[Action, Indie, Casual, Violent, Adventure]",http://steamcommunity.com/app/745400/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",1.99,False,745400,Bidoniera Games
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"

In [9]:
#df_steam_games.duplicated() 
#no podemos aplicar el método porque hay ciertas columnas que contienen listas que no son hasheables, o sea son mutables. Necesitamos desanidar
#un valor hash es un valor que representa de manera numérica el contenido del objeto

In [10]:
# Convierte la columna 'genres' en variables ficticias/dummy (variable artificiales que representan con valores 0 y 1 a las variables categóricas)
df_steam_games_with_dummies = pd.get_dummies(df_steam_games['genres'].apply(pd.Series).stack()).groupby(level=0).sum().astype(int)

# Resetea el índice para evitar problemas con la concatenación
df_steam_games.reset_index(drop=True, inplace=True)
df_steam_games_with_dummies.reset_index(drop=True, inplace=True)

# Concatena las variables ficticias con el DataFrame original
df_steam_games_with_dummies = pd.concat([df_steam_games, df_steam_games_with_dummies], axis=1)

In [11]:
#elimino las columnas que no voy a usar
df_steam_games = df_steam_games_with_dummies.drop(['publisher', 'app_name', 'url', 'tags', 'reviews_url', 'specs', 'price', 'early_access'], axis=1)

In [12]:
#convierte a datatime
df_steam_games['release_date'] = pd.to_datetime(df_steam_games['release_date'], errors='coerce')

#creo la columna year y extraigo el dato de la columna 'release_date' para ponerlo en la nueva columna
df_steam_games['year'] = df_steam_games['release_date'].dt.year.astype('Int64') 

#elimino la columna 'release_date'
df_steam_games.drop(columns=['release_date'], inplace=True)

#elimino la columna 'genres' porque fue desanidada
df_steam_games.drop(columns=['genres'], inplace=True)

In [13]:
df_steam_games

,title,id,developer,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,year
0,Lost Summoner Kitty,761140,Kotoshiro,1,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0,0,2018
1,Ironbound,643980,Secret Level SRL,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,2018
2,Real Pool 3D - Poolians,670290,Poolians.com,0,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,2017
3,弹炸人2222,767400,彼岸领域,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2017
4,Battle Royale Trainer,772540,Trickjump Games Ltd,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22525,Kebab it Up!,745400,Bidoniera Games,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2018
22526,Colony On Mars,773640,"Nikita ""Ghost_RUS""",0,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0,0,2018
22527,LOGistICAL: South Africa,733530,Sacada,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,2018
22528,Russian Roads,610660,Laush Dmitriy Sergeevich,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,2018
22529,EXIT 2 - Directions,658870,"xropi,stev3ns",0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2017

In [14]:
#guardo el dataframe limpio en un csv
df_steam_games.to_csv('df_steam_games.csv')

--------

USER REVIEWS

In [15]:
#esto permite ver el archivo
#with gzip.open('C:/Users/micai/OneDrive/Escritorio/PI_ML_STEAM/datasets/user_reviews.json.gz', 'rt', encoding='utf-8-sig') as f:
    #cont_review = f.read()

In [16]:
#imprime el archivo y con esto lo podemos ver en el editor de texto del visual
#print(cont_review)

In [17]:
#abro el archivo y lo pongo en un df
df_2 = []
with gzip.open('C:/Users/micai/OneDrive/Escritorio/PI_ML_STEAM/datasets/user_reviews.json.gz', 'rt', encoding='utf-8') as f:
    for linea in f:
        df_2.append(eval(linea))
df_reviews = pd.DataFrame(df_2)
df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [18]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

In [19]:
#count nos cuenta la cantidad de datos no nulos
#vemos que se repite 3 usuarios y 28 reviews
df_reviews.describe()

,user_id,user_url,reviews
count,25799,25799,25799
unique,25485,25485,25459
top,76561198027488037,http://steamcommunity.com/profiles/76561198027...,[]
freq,3,3,28

In [20]:
#muestra los nulos y los suma, como no tiene lo dejamos así
df_reviews.isnull().sum()

user_id     0
user_url    0
reviews     0
dtype: int64

In [21]:
df_reviews_explode = df_reviews.explode('reviews')

In [22]:
df_reviews_concat = pd.concat([df_reviews_explode.drop(['reviews'], axis=1), df_reviews_explode['reviews'].apply(pd.Series)], axis=1)

In [23]:
#extrae el año de la columna 'posted', luego se renombra como 'posted_year' y al final se borra la columna 'posted'
df_reviews_concat['posted_year'] = df_reviews_concat['posted'].str.extract(r'(\d{4})').astype('Int64')
df_reviews_concat.drop('posted', axis=1, inplace=True)

Sentiment Analysis

In [24]:
# Defino una función para realizar el análisis de sentimiento
def analizar_sentimiento(texto):
    if isinstance(texto, str):
        analysis = TextBlob(texto)
        # Asigno etiquetas de acuerdo con la polaridad del sentimiento
        if analysis.sentiment.polarity < 0:
            return 0  # Sentimiento negativo
        elif analysis.sentiment.polarity == 0:
            return 1  # Sentimiento neutro
        else:
            return 2  # Sentimiento positivo
    else:
        return 1  # Valor si no hay reseña escrita

# Aplica la función a la columna 'review' y crea la columna 'sentiment_analysis'
df_reviews_concat['sentiment_analysis'] = df_reviews_concat['review'].apply(lambda x: analizar_sentimiento(x))

# Reemplaza la columna 'review' con 'sentiment_analysis'
df_reviews_concat.drop('review', axis=1, inplace=True)
df_reviews_concat.rename(columns={'sentiment_analysis': 'review'}, inplace=True)

In [25]:
#elimino columnas que no voy a usar
df_reviews_concat.drop([0,'funny', 'last_edited', 'helpful'], axis=1, inplace=True)

In [26]:
df_reviews_concat

,user_id,user_url,item_id,recommend,posted_year,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,True,2011,2
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,22200,True,2011,2
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,43110,True,2011,2
1,js41637,http://steamcommunity.com/id/js41637,251610,True,2014,2
1,js41637,http://steamcommunity.com/id/js41637,227300,True,2013,0
...,...,...,...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,70,True,<NA>,2
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,362890,True,<NA>,2
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,273110,True,<NA>,2
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,730,True,<NA>,2
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,440,True,<NA>,2

In [27]:
#df limpio
df_reviews_concat.to_csv('df_user_reviews.csv')

-----

USER ITEMS

In [28]:
df_3 = []
with gzip.open('C:/Users/micai/OneDrive/Escritorio/PI_ML_STEAM/datasets/users_items.json.gz', 'rt', encoding='utf-8-sig') as f:
    for linea in f:
        df_3.append(eval(linea))
df_users_items = pd.DataFrame(df_3)

In [29]:
# json_normalize desanida los datos y crear un nuevo DataFrame
df_users_items = pd.json_normalize(df_3, record_path=['items'], meta=['steam_id', 'items_count', 'user_id', 'user_url'])

# Mueve las columnas de 'meta' al final del DataFrame
columnas_ordenadas = df_users_items.columns.tolist()[4:] + df_users_items.columns.tolist()[:4]
df_users_items = df_users_items[columnas_ordenadas]

# Eliminar la columna 'playtime_2weeks'
df_users_items.drop('playtime_2weeks', axis=1, inplace=True)

In [30]:
df_users_items.isnull().sum()   #no tiene nulos

steam_id            0
items_count         0
user_id             0
user_url            0
item_id             0
item_name           0
playtime_forever    0
dtype: int64

In [31]:
#suma los duplicados
df_users_items.duplicated().sum()

59117

In [32]:
#borra los duplicados
df_users_items = df_users_items.drop_duplicates()

In [33]:
#filtro la columnas 'playtime_forever' para que no me tome en cuenta los valores 0
df_users_items = df_users_items[(df_users_items['playtime_forever'] != 0)]

In [34]:
df_users_items = df_users_items.drop('steam_id', axis=1)

In [35]:
df_users_items

,items_count,user_id,user_url,item_id,item_name,playtime_forever
0,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6
2,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7
8,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,300,Day of Defeat: Source,4733
9,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,240,Counter-Strike: Source,1853
10,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,3830,Psychonauts,333
...,...,...,...,...,...,...
5153202,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,304930,Unturned,677
5153203,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,227940,Heroes & Generals,43
5153206,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3
5153207,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4
5153208,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3

In [36]:
df_users_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3246362 entries, 0 to 5153208
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   items_count       object
 1   user_id           object
 2   user_url          object
 3   item_id           object
 4   item_name         object
 5   playtime_forever  int64
dtypes: int64(1), object(5)
memory usage: 173.4+ MB

In [37]:
#df user items limpio
df_users_items.to_csv('df_user_items.csv', index=False)

------

DATASET FINAL

In [38]:
#muestra las columnas en común entre los df 'df_reviews_concat' y 'df_users_items'
columnas_en_comun = set(df_reviews_concat.columns).intersection(set(df_users_items.columns))

columnas_en_comun

{'item_id', 'user_id', 'user_url'}

In [39]:
# Fusión 'df_reviews_concant' y 'df_user_items'
merged_df = pd.merge(df_reviews_concat, df_users_items, on=['item_id', 'user_url', 'user_id'], how='inner')

# Fusión del resultado con 'df_steam_games'
merged_df = pd.merge(merged_df, df_steam_games, left_on='item_id', right_on='id', how='inner')

# Guarda el DataFrame fusionado como un archivo CSV. Este es el df final con el que se va a hacer el EDA
merged_df.to_csv('dataframe_final.csv', index=False)